<md-content class="padded-content-page">
    <div>
        <div flex layout="row" layout-align="center center" layout-fill>
            <md-card flex="90" class="md-whiteframe-z1 margin-bottom-100" tri-wizard>
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                        <h2>Formulario</h2>
                        <h2> {{triWizard.progress}}% <span translate>COMPLETO</span></h2>
                    </div>
                    <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate"
                                        ng-value="triWizard.progress"></md-progress-linear>
                </md-toolbar>
                <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                    <md-tab id="client">
                        <md-tab-label>
                            <span class="oxy-step-label">1</span>
                            <span>Detalles del cliente arrendatario</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="clientForm" tri-wizard-form novalidate>
                                    <div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label>Identificacion</label>
                                                <input type="number" name="identificacion"
                                                       ng-model="wizardController.data.client.identificacion" required>
                                                <div ng-messages="clientForm.identificacion.$error" md-auto-hide="false"
                                                     ng-show="clientForm.identificacion.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex></md-input-container>
                                        </div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label>Nombres</label>
                                                <input type="text" name="nombres"
                                                       ng-model="wizardController.data.client.nombres" required>
                                                <div ng-messages="clientForm.nombres.$error" md-auto-hide="false"
                                                     ng-show="clientForm.nombres.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Apellidos</label>
                                                <input type="text" name="apellidos"
                                                       ng-model="wizardController.data.client.apellidos" required>
                                                <div ng-messages="clientForm.apellidos.$error" md-auto-hide="false"
                                                     ng-show="clientForm.apellidos.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-xs="column" flex="50">
                                            <md-input-container flex>
                                                <label>Teléfono</label>
                                                <input ng-maxlength="10" ng-minlength="7" type="number" name="telefono"
                                                       ng-model="wizardController.data.client.telefono" required>
                                                <div ng-messages="clientForm.telefono.$error" md-auto-hide="false"
                                                     ng-show="clientForm.telefono.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                    <div ng-message when="minlength">
                                                        <span>El número de telefono debe contener al menos 6 digitos</span>
                                                    </div>
                                                    <div ng-message when="maxlength">
                                                        <span>El número de telefono debe contener maximo 10 digitos</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="coarrendatarios" ng-disabled="clientForm.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">2</span>
                            <span translate>Coarrendatarios del cliente</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="coarrendatariosForm" tri-wizard-form>
                                    <div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label translate>Identificacion</label>
                                                <input type="number" name="identificacion"
                                                       ng-model="wizardController.data.coarrendatarios.identificacion"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.identificacion.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.identificacion.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label translate>Lugar de expedicion</label>
                                                <input name="lexpedicion"
                                                       ng-model="wizardController.data.coarrendatarios.lexpedicion"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.lexpedicion.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.lexpedicion.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label translate>Nombres</label>
                                                <input name="nombres"
                                                       ng-model="wizardController.data.coarrendatarios.nombres"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.nombres.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.nombres.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label translate>Apellidos</label>
                                                <input name="apellidos"
                                                       ng-model="wizardController.data.coarrendatarios.apellidos"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.apellidos.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.apellidos.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label translate>Direccion</label>
                                                <input name="direccion"
                                                       ng-model="wizardController.data.coarrendatarios.direccion"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.direccion.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.direccion.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label translate>Telefono</label>
                                                <input type="tel" name="telefono"
                                                       ng-model="wizardController.data.coarrendatarios.telefono"
                                                       required>
                                                <div ng-messages="coarrendatariosForm.telefono.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.telefono.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-xs="column" flex>
                                            <md-input-container flex>
                                                <label translate>Ocupacion</label>
                                                <md-select ng-change="triWizard.updateProgress()" name="ocupacion"
                                                           ng-model="wizardController.data.coarrendatarios.ocupacion"
                                                           required>
                                                    <md-option value="ESTUDIANTE">ESTUDIANTE</md-option>
                                                    <md-option value="AMACASA">AMA DE CASA</md-option>
                                                    <md-option value="EMPLEADO">EMPLEADO</md-option>
                                                </md-select>
                                                <div ng-messages="coarrendatariosForm.ocupacion.$error"
                                                     md-auto-hide="false"
                                                     ng-show="coarrendatariosForm.ocupacion.$touched">
                                                    <div ng-message when="required">
                                                        <span>Este campo es requerido</span>
                                                    </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container flex></md-input-container>
                                        </div>

                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="propiedad" ng-disabled="coarrendatariosForm.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">3</span>
                            <span translate>Seleccion de la propiedad</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="propiedadForm" tri-wizard-form>
                                    Aqui el primer modal para vizualizar las propiedades
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="confirm" ng-disabled="propiedadForm.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">4</span>
                            <span translate>Confirmacion</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <div class="padding-40" flex layout="column" layout-align="center center">
                                    <md-icon class="big-icon" md-font-icon="zmdi zmdi-cake"></md-icon>
                                    <h2 class="md-display-2" translate>Has completado el contrato con exito</h2>
                                    <md-button class="md-primary md-raised">Imprimir</md-button>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()"
                               ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()">Anterior
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()"
                               ng-hide="triWizard.progress == 100 && triWizard.currentStep > 1"
                               ng-disabled="triWizard.nextStepDisabled()">Siguiente
                    </md-button>
                    <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 3"
                               ng-show="triWizard.progress == 100 && triWizard.currentStep < 3">Guardar
                    </md-button>
                </md-card-actions>
        </div>
        </md-card>
    </div>
</md-content>