<md-content class="padded-content-page">
    <div layout="row" layout-xs="column">
        <div flex="50">
            <h2>Create User</h2>

            <md-input-container md-no-float class="md-block">
                <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                <input type="text" placeholder="Identificacion" ng-model="vm.client.identificacion">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                <input type="text" placeholder="Nombres" ng-model="vm.client.nombres">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                <input type="text" placeholder="Apellidos" ng-model="vm.client.apellidos">
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" md-ripple-size="full" aria-label="ripple full" ng-click="vm.addClient()">Guardar</md-button>
            </div>
        </div>
    </div>
</md-content>