<div flex layout="row" class="email-inbox">
    <md-content  flex="100" flex-gt-xs="40" flex-gt-lg="40" class="md-whiteframe-z1">
        <md-list class="inbox-list">
            <md-subheader class="md-primary">
                <md-toolbar  class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                        <form flex="" >
                            <input type="text" placeholder="Buscar arrendatario" ng-model="filtro">
                        </form>
                    </div>
                </md-toolbar>
            </md-subheader>
            <md-divider></md-divider>
            <md-list-item
                    class="inbox-list__email inbox-list__email--animated md-3-line md-long-text inbox-list__email--unread"
                    ng-repeat="client in vm.clients | filter : filtro"
                    ng-class="{ 'inbox-list__email--active': vm.selected === client.id }"
                    ng-click="vm.openContract(client)">
                <md-icon md-font-icon="zmdi zmdi-account-circle mdc-text-red zmdi-hc-fw"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>
                        <span >Identificación: {{client.cedula}} </span><br>
                        {{ client.nombre }} {{ client.apellidos }}
                    </h3>
                    <p>Teléfono: {{ client.telefonos[0]}}</p>
                    <span class="md-caption" am-time-ago="q.fecha"></span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

    <div class="animate-wrapper" layout="column" layout-align="start center" flex layout-fill>
        <div flex id="ui-admin-email" ui-view layout="column" layout-align="start center" layout-fill
             class="overflow-auto">
            <div flex class="email-inbox-no-email-selected" layout="column" layout-align="center">
                <h2 hide-sm translate>No se ha seleccionado ningun arrendatario</h2>
            </div>
        </div>
    </div>
</div>